{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone-tastypie.js' %}"></script>
</head>
<body>
    <script type="text/javascript">
        function changeLang() {
            var lang = $('#languages').val();
            alert(lang);
            window.location.href = "{% url 'lang' %}?language="+lang;
            // $.ajax({
            //     type: 'GET',
            //     url: "{% url 'lang' %}",
            //     data:  {"language": lang},
            // });
        }

    </script>
    {% if request.user.is_active %} 
        <div> in {{request.user.username}} </div>
        <div> id {{request.user.id}} </div>
        <a href="{% url 'profile:logout' %}">{% trans "Logout" %}</a>
        <a href="{% url 'profile:create_course' %}">{% trans "Create course" %}</a>
        <a href="{% url 'profile:edit_profile' %}">{% trans "Edit Profile" %}</a>
    {% else %}
        <form action="{% url 'profile:login' %}" method="POST">
            {% csrf_token %}
            <label>username: </label>
            <input name="username" type="text" id="username" value="">
            <label>password: </label>
            <input name="password" type="password" id="password" value="">
            <input type="submit" value="Go">
        </form>
        <a href="{% url 'profile:create_profile' %}">{% trans "Registrate" %}</a>
    {% endif %}
    <a href="{% url 'search' %}">{% trans "Search" %}</a>
    <div>
        <label>{% trans "Language" %}</label>
        <select onchange="changeLang()" id="languages">
            <option value=""></option>
            <option value="en">EN</option>
            <option value="ua">UA</option>
            <option value="ru">RU</option>
        </select><br/>
    </div>
    {% block content %}{% endblock %}
</body>
</html>